# Dependencies
node_modules/

# Temp / cache
.dedupe-cache.json
*.log
*.txt
*.json
logs.txt

# Generated indexes
index.json
out.json
matches.json
means.json

# Data folders
data/
db/
db1/
model/

# Test / junk
test.m4a
dupe.txt
songs.json

# Random dirs
t/
m/
_FULL/
